{{define "content"}}

<div class="container">
    <div class="columns">
        <div class="column is-2">
            <input type="text" class="input is-primary" id="announcement" placeholder="Announcement">
            <button class="button is-info" id="announce">Announce</button>
        </div>
        <div class="column is-2">
            <input type="text" class="input is-primary" id="new_username" placeholder="Username">
            <input type="password" class="input is-primary" id="new_password" placeholder="Password">
            <button class="button is-info" id="create_user">Create User</button>
        </div>
    </div>
</div>

{{end}}

{{define "js"}}
{{end}}