{{define "content"}}
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <div class="field">
                        <div class="control">
                            <input class="input is-primary" id="username" type="text" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <input class="input is-primary" id="password" type="password" placeholder="Password">
                        </div>
                    </div>

                    <div class="field">
                        <button class="button is-primary" id="login">Login</button>
                    </div>
                </div>
            </div>
        </div>
{{end}}

{{define "js"}}
{{end}}