{{ define "master" }}
<html>
<head>
    <title>{{block "title" .}} {{.Title}} {{end}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css">
    {{/*<link rel="stylesheet" href="https://unpkg.com/bulmaswatch/cyborg/bulmaswatch.min.css">*/}}
{{block "style" .}} {{end}}
</head>
<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/assets/images/silverblaze.png" alt="Silverblaze : TrinityCore Administration Platform"> <h1 class="title is-4">Silverblaze</h1>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
</nav>


{{template "content" .}}
{{/*<div class="modal is-active">*/}}
    {{/*<div class="modal-background"></div>*/}}
    {{/*<div class="modal-card">*/}}
        {{/*<header class="modal-card-head">*/}}
            {{/*<p class="modal-card-title">Modal title</p>*/}}
            {{/*<button class="delete" aria-label="close"></button>*/}}
        {{/*</header>*/}}
        {{/*<section class="modal-card-body">*/}}
            {{/*<!-- Content ... -->*/}}
        {{/*</section>*/}}
        {{/*<footer class="modal-card-foot">*/}}
            {{/*<button class="button is-success">Save changes</button>*/}}
            {{/*<button class="button">Cancel</button>*/}}
        {{/*</footer>*/}}
    {{/*</div>*/}}
{{/*</div>*/}}
</body>
<footer>{{block "footer" .}} {{end}}</footer>
{{block "js" .}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script>
    const app = {
        setCredentials(username, password) {
            window.localStorage.setItem('username', username);
            window.localStorage.setItem('password', password);
        },

        call(command) {
            return $.ajax({
                url : '/command',
                method : 'POST',
                data : {
                    command : command,
                    username : window.localStorage.getItem('username'),
                    password : window.localStorage.getItem('password'),
                },
                success : function(r) {

                },
                error : function(r) {

                }
            })
        },

        createUser(username, password) {
            $.when(this.call('account create ' + username + ' ' + password)).done(function(r) {
                console.log('All good');
            }).catch(function(r) {
                console.log('Error', r);
            });
        },

        login() {
            const username = $('[id=username]').val();
            const password = $('[id=password]').val();
            this.setCredentials(username, password);
            $.when(this.call('help')).done(function(r) {
                console.log('All good', r);
            }).catch(function(r) {
                console.log('error', r)
            })
        },

        bindActions() {
            const self = this;

            const $login = $('[id=login]');
            $login.unbind();
            $login.on('click', function() {
                self.login()
            });

            const $create_user = $('[id=create_user]');
            $create_user.unbind();
            $create_user.on('click', function() {
                const username = $('[id=new_username]').val();
                const password = $('[id=new_password]').val();
                self.createUser(username, password)
            });

            const $announce = $('[id=announce]');
            $announce.unbind();
            $announce.on('click', function() {
                const announcement = $('[id=announcement]').val();
                if(announcement.length > 0) {
                    self.call('announce ' + announcement)
                }
            });
        },

        init() {
            this.bindActions()
        }
    };

    app.init()

</script>
{{end}}
</body>
</html>

{{ end }}